

body{
  margin: 0;
  padding: 0;
  
}

.contenedor{
  width: 90%;
  margin: 0 auto;
}

.titulo{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: normal;
  color: #283747;
}


.grupo-input label{
  font-size: 13px;
  color: #1C2833;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"]{
  
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #2E86C1 ;
  margin-top: 6px;
}

input[type="text"]:focus{
  outline: none;
}

